<h3 style="text-align:center;">{{heading}}</h3>

<br>
<p>
        {{#each list.words}}
        <div class="row" id="wordRow">
            <div class="col-xs-2 col-md-1.5" id="word" style="font-size:3em; text-align:center">
                {{word}}
            </div>
            <div class="col-xs-16 col-md-10.5">
                <div>
                    {{partOfSpeech}}
                </div>
                <br>
                <div>
                    {{definition}}
                </div>
            </div>
        </div>
        <br>
        {{/each}}
</p>

<div type="hidden" id="slug" value={{list.listName}}></div>

<form class="form" method="GET" action="/search">
  <div class="form-group">
    <div class="col-sm-2" style="margin:15px">
      <button type="submit" class="btn btn-default">Add a Word to a List</button>
    </div>
  </div>
</form>